$mainFontColor: #FFCE4E;
$secondFontColor: #F5FBF2;
$backgroundColor: #16091B;
.live__auction__top {
  h3 {
    font-family: 'Oxanium', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #F5FBF2;
    line-height: 130px;
    &:before {
      content: '';
      display: inline-block;
      position: relative;
      left: 70px;
      top: 30px;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background:#8613A5;
      z-index: -1;
    }
  }
}
.live_auction_cards {
  background: #3D2942;
  .card__body {
    display: flex;
    flex-direction: column;
    margin: 32px;
  }
  .author__row {
    padding: 28px 0;
    > img {
      height: 54px;
      border-radius: 50%;
    }
    .card_author {
      min-width: 100%;
      justify-content: space-between;
      h3 {
        font-weight: 500;
        line-height: 44px;
        font-size: 1.8rem;
        color: #F5FBF2;
      }
      h5 {
        font-size: 1.2rem;
        font-weight: 400;
        color: #BDAAC1;
      }
    }
    .likes {
      span {
        a {
          margin: 0 15px;
          color: #76607A;
          text-decoration: none;
          transition: all 200ms ease-in-out;
          font-size: 2rem;
          &:hover {
            cursor: pointer;
          }
          &:not(:focus) {
            &:hover {
              filter: brightness(120%);
            }
          }
          &:focus {
            color: #8613A5;
            fill: #8613A5;
          }
        }
        color: #76607A;
        font-weight: 400;
        font-size: 2.3rem;
        line-height: 28px;
      }
    }
  }
  .costs__row {
    > h5 {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 35px;
      color: #C6BFC8;
    }
    > h3 {
      font-family: 'Oxanium', sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 35px;
      color: #F5FBF2;
    }
  }
}
.view__all {
  button {
    background-color: #E9D7A71A;
    border: 1px solid #FFCE4E;
    color: $secondFontColor;
    font-family: work-sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    outline: none;
    height: 84px;
    width: 257px;
    transition: all 100ms linear;
    &:hover {
      background-color:$mainFontColor;
      color: $backgroundColor;
      cursor: pointer;
    }
  }
}
.swiper-button-next {
  display: block;
  background-image: url(../../../assets/img/right_arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: 20px;
  right: 56px;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  display: block;
  background-image: url(../../../assets/img/right_arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  transform: rotate(-180deg);
  top: 20px;
  right: 102px;
  left: auto;
}

.swiper-button-prev::after {
  display: none;
}
.auction_card {
  padding-top: 70px;
}