* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: work-sans, sans-serif;
  background-color: #16091B;
  background: url('./assets/img/blur-backgrond.png') no-repeat;
  background-size: cover;
  user-select: none;

}
section, footer, header {
  padding: 60px 0;
}
.container {
max-width: 90%!important;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-bottom: 0!important;
}
//h1,h2,h3,h4,h5 {
//  user-select: text;
//}
p {
  font-family: work-sans, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #96839B;
  opacity: 85%;
}